.landing{
    overflow: hidden;
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
    a,p{
        transition: color 0.2s ease-in-out;
    }
}
///////////////////////////////////////////////////////////////////////High bar
.landing-high-bar{
    padding: 20px 15vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    img{
        width: 18px;
        height: 14px;
        margin-right: 0.7rem;
    }
    p{
        color: $LinkColor;
    }
}
.language-side{
    display: flex;
    align-items: center;
    .languages{
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        margin-bottom: 2px;
        &:hover p{
            color: #fff;
        }
        span{
            display: none;
            color: #fff;
        }
    }
}
.landing-icons-side{
    display: flex;
    align-items: center;
    a{
        font-weight: bold;
        display: block;
        margin: 0 0.6rem;
        &:hover{
            color: #fff;
        }
        &:last-of-type{
            margin: 0 0 0 0.6rem;
        }
    }
}
.overview, .whats-new{
    padding: 20px 1.5rem;
}
///////////////////////////////////////////////////////////////////////Menu bar
.menu-bar{
    position: relative;
    z-index: 2;
    nav{
        .logo-wrapper{
            .burger-btn{
                display: none;
                margin-right: -2px;
            }
        }
        display: flex;
        align-items: center;
        .logo{
            display: block;
            height: 50px;
            width: 120px;
            margin-right: 3rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .svg-menu-arrow{
            transform: rotate(90deg);
            display: inline-block;
            background-color: #fff;
        }
        .menu{
            width: 100%;
            display: flex;
            align-items: center;
            li{
                position: relative;
                transition: color 0.2s ease-in-out;
                color: $LinkColor;
                display: block;
                .mobile-flex{
                    padding: 20px 1.5rem;
                    cursor: pointer;
                }
                font-size: 0.8rem;
                //////////////////////////Sub menu stuff
                &:hover .sub-menu-wrapper{
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible; 
                }
                //////////////////////////Other stuff
                a{
                    font-size: 0.8rem;
                    color: $LinkColor;
                }
                &:nth-of-type(4){
                    margin-left: auto;
                }
                &:hover, &:hover a{
                    color: #fff;
                }
            }
            .purchase-button{
                background-color: #fff;
                color: #000 !important;
                padding: 8px 20px;
                border-radius: 50rem;
                margin-left: 1rem;
                margin: 0;
            }
        }
    }
}
///////////////////////////////////////////////////////////////////////Landing content
.landing-content{
    position: relative;
    display: flex;
    padding: 70px 0;
}
.landing-content-text{
    flex: 1;
    h1,h3{
        color: #fff;
        font-weight: normal;
    }
    h1{
        font-size: 2.6rem;
    }
    h3{
        font-size: 1.5rem;
        margin-bottom: 2rem;
        span{
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
    p{
        font-size: 1rem;
        color: #fff;
        line-height: 1.7rem;
    }
    .dark-mode{
        display: flex;
        align-items: center;
        padding: 5px 10px;
        margin-bottom: 2rem;
        background-color: #273444;
        border-radius: 50rem;
        color: #fff;
        width: fit-content;
        p{
            font-size: 0.8rem;
        }
        span{
            font-size: 0.7rem;
            padding: 2px 10px;
            border-radius: 10rem;
            background-color: #FF5630;
            color: #fff;
            margin-right: 0.5rem;
        }
        .arrow{
            background-color: #fff;
            margin-left: 0.8rem;
        }
    }
    .landing-content-buttons{
        display: flex;
        padding: 3rem 0;
        a{
            font-weight: 600;
            display: flex;
            align-items: center;
            white-space: pre;
            border-radius: 50rem;
            padding: 12px 28px;
            &:first-of-type{
                margin-right: 2rem;
                color: #000;
                background-color: #fff;
                .landing-button-arrow{
                    background-color: #000;
                        }
            }
            &:last-of-type{
                border: 1px solid #fff;
            }
        }
        .button-doc-icon{
            margin-right: 10px;
        }
    }
}

.landing-svg{
    flex: 1;
    position: relative;
    figure{
        width: inherit;
        height: 100%;
        svg{
            position: absolute;
            top: -250px;
            left: 0;
            width: 677px;
        }
    }
}

///////////////////////////////////////////////////////////////////////Pages sub menu
    .sub-arrow{
        background-color: $SubMenuP;
        margin-left: auto;
    }
    .sub-menu-wrapper{
        transform: scale(0.9);
        transition: all 0.2s ease-in-out;
        position: absolute;
        visibility: hidden;  
        opacity: 0;
        left: 0;
        top: 55px;
        background-color: #fff;
        border-radius: 0.5rem;
    }
    .sub-menu{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 12px;
            height: 10px;
            background: #fff;
            transform: rotate(45deg); /* Prefixes... */
            top: -5px;
            left: 25px;
        }
    }
    .sub-and-sub-sub{
        cursor: pointer;
        position: relative;
        &:hover{
            .sub-menu-li{
                z-index: 1;
                transform: scale(1.1);
                box-shadow: 0px 1px 12px 0px rgba(232,229,232,1);
                background-color: rgb(250, 250, 250);
            }
            .sub-sub-menu{
                transform: scale(1);
                visibility: visible;
                opacity: 1;
            }
        }
    }
    
    .sub-menu-li{
        transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out !important;
        width: 400px;
        padding: 1rem 0.8rem !important;
        display: flex !important;
        align-items: center;
        margin: 0 !important;
        background-color: #fff;
        border-radius: 0.5rem;
        img{
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }
        .sub-menu-text{
            display: flex;
            flex-direction: column;
            h4{
                color: #000;
                font-weight: normal;
            }
            p{
                color: $SubMenuP;
                font-size: 0.8rem;
            }
        }
    }
///////////////////////////////////////////////////////////////////////Pages sub sub menu
.sub-sub-menu{
    width: 290px;
    .menu-sub-title{
        color: gray !important;
        padding: 0.7rem 1.5rem !important;
        font-size: 0.8rem;
    }
    hr{
        width: 112px;
        margin: 0 auto;
        background-color: gray;
    }
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    opacity: 0;
    transform: scale(0.9);
    position: absolute;
    visibility: hidden;
    top: -4px;
    right: -287px;
    z-index: 3;
    padding-left: 30px;
    cursor: auto !important;
    ul{
        padding: 10px 0;
        background-color: #fff;
        border-radius: 0.5rem;
        li{
            padding: 0 !important;
            cursor: auto !important;
            a{
                transition: color 0.2s ease-in-out;
                padding: 0.7rem 1.5rem !important;
                display: block;
                width: 100% !important;
                color: #000 !important;
                &:hover{
                    color: $SubMenuP !important;
                }
            }
        }
    }  
}
///////////////////////////////////////////////////////////////////////////About sub menu

.sections-sub-menu-li{
    width: 500px;
    padding: 2rem;
}
.sections-ul{
    column-count: 3;
    padding: 2rem 1rem;
    background-color: rgb(248, 248, 248);
    p{
        a{
            display: block;
            width: 100%;
            padding: 15px 0 0 0 !important;
            color: #000 !important;
            &:hover{
                color: $SubMenuP !important;
            }
        }
    }
}
.sections-bottom-block{
    padding: 1rem 0;
    span{
        font-weight: bold;
        display: block;
        width: fit-content;
        background-color: #d7f0e5;
        color: #36B37E;
        font-size: 0.7rem;
        padding: 5px;
        border-radius: 4px;
        margin: 0 0 0.5rem 1rem;
    }
    p{
        font-size: 0.8rem;
        margin: 0 1rem;
        color: $SubMenuP !important;
    }
}
////////////////////////////////////////////////////////////////////////////Docs sum menu
.docs-arrow{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 12px;
        height: 10px;
        background: #fff;
        transform: rotate(45deg); /* Prefixes... */
        top: -5px;
        right: 25px;
    }
}
.sub-menu-align-left{
    left: -300px !important;
}
.docs-ul{
    column-count: 2;
    padding: 2rem 1rem;
    background-color: rgb(248, 248, 248);
    p{
        a{
            display: block;
            width: 100%;
            padding: 10px 0 !important;
            color: #000 !important;
            &:hover{
                color: $SubMenuP !important;
            }
        }
    }
}

.mobile-menu-toggle{
    opacity: 1 !important;
    display: block !important;
}