@font-face{
    font-family: Poppins;
    src: url("../fonts/Poppins-Light.ttf");
}
$LinkColor: rgba(255, 255, 255, 0.85);
$SubMenuP: #8492A6;
*::before, *::after, *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
p,a,span,h1,h2,h3,h4,h5,li{
    font-family: Poppins;
}
p,a,span{
    font-size: 0.9rem;
}
a{
    color: $LinkColor;
}
.container{
    margin: 0 15vmin;
}
.arrow{
    width: 12px;
    height: 12px;
    mask-image: url("../images/navigation media/menu-arrow.svg");
}
@import "./landing";

@media screen and(max-width: 1200px){
    .landing-high-bar{
        padding: 20px 7vmin;
    }
    .container{
        margin: 0 7vmin;
    }


    ///////////////////////////////////////////////////////////////////////Menu bar
    .menu-bar{
        nav{
            .menu{
                .whats-new{
                    display: none;
                }
            }
        }
    }
    ///////////////////////////////////////////////////////////////////////Landing content
    .landing-content-buttons{
        a{
            &:last-of-type{
                display: none;
            }
        }
    }
    .landing-svg{
        svg{
            top: -200px;
            right: -50px;
            width: 577px;
        }
    }
}









@media screen and(max-width: 950px){
///////////////////////////////////////////////////////////////////////High bar
.landing-high-bar{
    padding: 20px 7vmin;
}
.language-side{
    a{
        margin-left: 0;
        span{
            display: block;
        }
        p{
            display: none;
        }
    }
    .website-name{
        display: none;
    }  
}
///////////////////////////////////////////////////////////////////////Landing content
.landing-content{
    position: relative;
    display: flex;
    padding: 100px 0;
}
.landing-content-text{
    width: 100%;
    text-align: center;
    h1,h3{
        color: #fff;
        font-weight: normal;
    }
    h1{
        font-size: 2.6rem;
    }
    h3{
        font-size: 1.5rem;
        margin-bottom: 2rem;
        span{
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
    p{
        font-size: 1rem;
        color: #fff;
        line-height: 1.7rem;
    }
    .dark-mode{
        display: none;
    }
    .landing-content-buttons{
        display: flex;
        padding: 3rem 0;
        a{      
            &:first-of-type{
                margin: 0 auto;
            }
            &:last-of-type{
                display: none;
            }
        }
    }
}

.landing-svg{
    display: none;
}
///////////////////////////////////////////////////////////////////////////////////////////////Mobile menu
///////////////////////////////////////////////////////////////////////Menu bar
.menu-bar{
    nav{
        .logo-wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.5rem;
            .burger-btn{
                display: block;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .logo{
            display: block;
            height: 60px;
            width: 130px;
            margin-right: 0;
        }
        .menu{
            transition: margin-left, 0.3s ease-in-out, opacity, 0.3s ease-in-out;
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 50px;
            opacity: 0;
            .mobile-flex{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .whats-new{
                display: block;
            }
            li{
                width: 100%;
                padding: 10px 0;
                //////////////////////////Sub menu stuff
                &:hover .sub-menu-wrapper{
                    opacity: 1;
                    display: block;
                }
                //////////////////////////Other stuff
                &:nth-of-type(4){
                    margin-left: 0;
                }
            }
            .purchase-button{
                background-color: transparent;
                color: $LinkColor !important;
                border-radius: 0;
                padding: 10px 0;
                i{
                    display: none;
                }
            }
        }
    }
}
///////////////////////////////////////////////////////////////////////Pages sub menu
.sub-menu-wrapper{
    position: static;
    visibility: visible !important;
    display: none;
    opacity: 1;
    margin-top: 0.5rem;
}
.sub-menu{
    &::before{
        display: none;
    }
}
.sub-and-sub-sub{
    &:hover{
        .sub-menu-li{
            transform: scale(1);
            box-shadow: none;
        }
        .sub-sub-menu{
            display: block;
            opacity: 1;
        }
    }
}
///////////////////////////////////////////////////////////////////////Pages sub sub menu
.sub-sub-menu{
width: 100%;
hr{
    width: auto;
    margin: 0 1.5rem;
}
display: none;
position: static;
visibility: visible;
padding-left: 0;
}
.docs-arrow{
    &::after{
        display: none;
    }
}
}
@media screen and (max-width: 425px){
    .landing-content{
        padding-top: 50px;
    }
    .container{
        margin: 0 5vmin;
    }
    ///////////////////////////////////////Sections sub menu
    .sections-ul{
        column-count: 2;
        
    }
}