@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Light.ttf");
}

*::before, *::after, * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p, a, span, h1, h2, h3, h4, h5, li {
  font-family: Poppins;
}

p, a, span {
  font-size: 0.9rem;
}

a {
  color: rgba(255, 255, 255, 0.85);
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 20vmin;
}

.arrow {
  width: 12px;
  height: 12px;
  -webkit-mask-image: url("../images/navigation media/menu-arrow.svg");
          mask-image: url("../images/navigation media/menu-arrow.svg");
}

.mobile-menu-wrapper {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.landing {
  position: relative;
  overflow: hidden;
  background: #FAFBFE;
}

.landing a, .landing p {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.landing::before {
  content: '';
  position: absolute;
  width: 130%;
  height: 150%;
  top: -620px;
  left: -25px;
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  border-bottom-left-radius: 2rem;
}

.landing-particles {
  position: absolute;
  top: -60px;
  left: 10px;
  width: 100%;
  height: 100%;
}

.landing-particles svg {
  height: 100%;
  width: 100%;
}

.landing-high-bar {
  position: relative;
  z-index: 3;
  padding: 20px 15vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.landing-high-bar img {
  width: 18px;
  height: 14px;
  margin-right: 0.7rem;
}

.landing-high-bar p {
  color: rgba(255, 255, 255, 0.85);
}

.language-side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-side .languages {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
  margin-bottom: 2px;
}

.language-side .languages:hover p {
  color: #fff;
}

.language-side .languages p::-moz-selection {
  background: transparent;
}

.language-side .languages p::selection {
  background: transparent;
}

.language-side .languages span {
  display: none;
  color: #fff;
}

.language-side .languages .language-pop-up {
  cursor: auto;
  display: none;
  width: 180px;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  position: absolute;
  bottom: -8.1rem;
  background-color: #fff;
}

.language-side .languages .language-pop-up p {
  width: 100%;
  cursor: pointer;
  color: #8492A6;
}

.language-side .languages .language-pop-up p:hover {
  color: #000;
}

.language-side .languages .language-pop-up .language-pop-element {
  padding: 0.3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-side .languages .language-pop-up .language-pop-element img {
  margin-right: 0.7rem;
}

.landing-icons-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-icons-side a {
  font-weight: bold;
  display: block;
  margin: 0 0.6rem;
}

.landing-icons-side a:hover {
  color: #fff;
}

.landing-icons-side a:last-of-type {
  margin: 0 0 0 0.6rem;
}

.menu-bar {
  position: relative;
  z-index: 2;
}

.menu-bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bar nav .logo-wrapper .burger-btn {
  display: none;
  margin-right: -2px;
}

.menu-bar nav .logo {
  display: block;
  height: 50px;
  width: 120px;
  margin-right: 3rem;
}

.menu-bar nav .logo img {
  width: 100%;
  height: 100%;
}

.menu-bar nav .svg-menu-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: inline-block;
  background-color: #fff;
}

.menu-bar nav .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bar nav .menu li {
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.85);
  display: block;
  font-size: 0.8rem;
}

.menu-bar nav .menu li .mobile-flex {
  padding: 20px 1.5rem;
  cursor: pointer;
}

.menu-bar nav .menu li:hover .sub-menu-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.menu-bar nav .menu li a {
  padding: 20px 24px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.85);
}

.menu-bar nav .menu li a:first-of-type {
  padding: 20px 24px 20px 0;
}

.menu-bar nav .menu li:nth-of-type(4) {
  margin-left: auto;
}

.menu-bar nav .menu li:hover, .menu-bar nav .menu li:hover a {
  color: #fff;
}

.menu-bar nav .menu .purchase-button {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  background-color: #fff;
  color: #000 !important;
  padding: 8px 20px;
  border-radius: 50rem;
  margin-left: 1rem;
  margin: 0;
}

.menu-bar nav .menu .purchase-button i {
  margin-right: 0.3rem;
}

.menu-bar nav .menu .purchase-button .purchase-pop-up {
  -webkit-transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 163px;
  padding: 5px;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  left: -173px;
  top: 4px;
}

.menu-bar nav .menu .purchase-button .purchase-pop-up::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 15px;
  height: 15px;
  background: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* Prefixes... */
  -webkit-box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  top: 6px;
  right: -5px;
}

.menu-bar nav .menu .purchase-button:hover {
  background-color: #e7e7e9;
}

.landing-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 192px 0 250px 0;
}

.landing-content-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing-content-text h1, .landing-content-text h3 {
  color: #fff;
  font-weight: normal;
}

.landing-content-text h1 {
  font-size: 2.6rem;
}

.landing-content-text h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.landing-content-text h3 span {
  font-size: 1.5rem;
  font-weight: 100;
}

.landing-content-text p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.7rem;
}

.landing-content-text .dark-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  margin-bottom: 2rem;
  background-color: #273444;
  border-radius: 50rem;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.landing-content-text .dark-mode p {
  font-size: 0.8rem;
}

.landing-content-text .dark-mode span {
  font-size: 0.7rem;
  padding: 2px 10px;
  border-radius: 10rem;
  background-color: #FF5630;
  color: #fff;
  margin-right: 0.5rem;
}

.landing-content-text .dark-mode .arrow {
  background-color: #fff;
  margin-left: 0.8rem;
}

.landing-content-text .landing-content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}

.landing-content-text .landing-content-buttons a {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: pre;
  border-radius: 50rem;
  padding: 12px 28px;
}

.landing-content-text .landing-content-buttons a:first-of-type {
  margin-right: 2rem;
  color: #000;
  background-color: #fff;
}

.landing-content-text .landing-content-buttons a:first-of-type .landing-button-arrow {
  background-color: #000;
}

.landing-content-text .landing-content-buttons a:last-of-type {
  border: 1px solid #fff;
}

.landing-content-text .landing-content-buttons .button-doc-icon {
  margin-right: 10px;
}

.landing-svg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.landing-svg figure {
  width: inherit;
  height: 100%;
}

.landing-svg figure svg {
  position: absolute;
  top: -250px;
  left: 0;
  width: 677px;
}

.sub-arrow {
  background-color: #8492A6;
  margin-left: auto;
}

.sub-menu-wrapper {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 55px;
  background-color: #fff;
  border-radius: 0.5rem;
}

.sub-menu {
  position: relative;
}

.sub-menu::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* Prefixes... */
  top: -5px;
  left: 25px;
}

.sub-and-sub-sub {
  cursor: pointer;
  position: relative;
}

.sub-and-sub-sub:hover .sub-menu-li {
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 1px 12px 0px #e8e5e8;
          box-shadow: 0px 1px 12px 0px #e8e5e8;
  background-color: #fafafa;
}

.sub-and-sub-sub:hover .sub-sub-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.sub-menu-li {
  -webkit-transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out !important;
  transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out !important;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out !important;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out !important;
  width: 400px;
  padding: 1rem 0.8rem !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  background-color: #fff;
  border-radius: 0.5rem;
}

.sub-menu-li img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.sub-menu-li .sub-menu-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-menu-li .sub-menu-text h4 {
  color: #000;
  font-weight: normal;
}

.sub-menu-li .sub-menu-text p {
  color: #8492A6;
  font-size: 0.8rem;
}

.sub-sub-menu {
  width: 290px;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  position: absolute;
  visibility: hidden;
  top: -4px;
  right: -287px;
  z-index: 3;
  padding-left: 30px;
  cursor: auto !important;
}

.sub-sub-menu .menu-sub-title {
  color: gray !important;
  padding: 0.7rem 1.5rem !important;
  font-size: 0.8rem;
}

.sub-sub-menu hr {
  width: 112px;
  margin: 0 auto;
  background-color: gray;
}

.sub-sub-menu ul {
  padding: 10px 0;
  background-color: #fff;
  border-radius: 0.5rem;
}

.sub-sub-menu ul li {
  padding: 0 !important;
  cursor: auto !important;
}

.sub-sub-menu ul li a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding: 0.7rem 1.5rem !important;
  display: block;
  width: 100% !important;
  color: #000 !important;
}

.sub-sub-menu ul li a:hover {
  color: #8492A6 !important;
}

.sections-sub-menu-li {
  width: 500px;
  padding: 2rem;
}

.sections-ul {
  -webkit-column-count: 3;
          column-count: 3;
  padding: 2rem 1rem;
  background-color: #f8f8f8;
}

.sections-ul p a {
  display: block;
  width: 100%;
  padding: 15px 0 0 0 !important;
  color: #000 !important;
}

.sections-ul p a:hover {
  color: #8492A6 !important;
}

.sections-bottom-block {
  padding: 1rem 0;
}

.sections-bottom-block span {
  font-weight: bold;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #d7f0e5;
  color: #36B37E;
  font-size: 0.7rem;
  padding: 5px;
  border-radius: 4px;
  margin: 0 0 0.5rem 1rem;
}

.sections-bottom-block p {
  font-size: 0.8rem;
  margin: 0 1rem;
  color: #8492A6 !important;
}

.docs-arrow {
  position: relative;
}

.docs-arrow::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* Prefixes... */
  top: -5px;
  right: 25px;
}

.sub-menu-align-left {
  left: -300px !important;
}

.docs-ul {
  -webkit-column-count: 2;
          column-count: 2;
  padding: 2rem 1rem;
  background-color: #f8f8f8;
}

.docs-ul p a {
  display: block;
  width: 100%;
  padding: 10px 0 !important;
  color: #000 !important;
}

.docs-ul p a:hover {
  color: #8492A6 !important;
}

.mobile-menu-toggle {
  opacity: 1 !important;
  display: block !important;
}

.section2-wrapper {
  background-color: #FAFBFE;
  padding: 0 0 100px 0;
}

.section2 {
  color: #8492A6;
  font-weight: bold;
}

.section2 img {
  width: 100px;
  height: 100px;
}

.section2-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section2-grid-element {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  border: 1px solid #EFF2F7;
  padding: 70px 40px;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
          box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.section2-grid-element h1 {
  color: #3C4858;
  margin: 10px 0;
}

.section2-grid-element:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
          box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}

.section2-text {
  text-align: center;
  width: 60%;
  margin: 70px auto 0 auto;
}

.section2-text span {
  color: #6e00ff;
}

.flex-device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

.flex-device img {
  width: 50%;
}

.flex-device p {
  width: 70%;
  font-size: 1rem;
  color: #8492A6;
  margin: 2rem auto 2rem 0;
}

.flex-device a {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #6e00ff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
}

.flex-device a .flex-device-line {
  position: absolute;
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 5px;
  width: calc(100% - 20px);
  height: 3px;
  background-color: #6e00ff;
}

.flex-device h1 {
  color: #3C4858;
}

.flex-device .flex-device-content {
  width: 420px;
}

.flex-device .flex-device-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-device .flex-device-benefit p {
  font-weight: bold;
  color: #3C4858;
  font-size: 0.9rem;
  margin: 15px 0;
}

.flex-device .flex-device-benefit img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

@-webkit-keyframes bounceBTN {
  0% {
    width: 100%;
  }
  50% {
    width: 110%;
  }
  100% {
    width: 105%;
  }
}

@keyframes bounceBTN {
  0% {
    width: 100%;
  }
  50% {
    width: 110%;
  }
  100% {
    width: 105%;
  }
}

.section4-wrapper {
  position: relative;
  padding: 100px 0;
  background-color: #FAFBFE;
  text-align: center;
}

.section4-wrapper span {
  background-color: #d7f0e5;
  color: #36B37E;
  border-radius: 2rem;
  padding: 10px 15px;
  font-weight: bold;
}

.section4-wrapper h1 {
  margin: 25px 0 20px 0;
}

.section4-wrapper h1, .section4-wrapper h3 {
  color: #3C4858;
}

.section4-wrapper p {
  width: 70%;
  margin: 0 auto;
  font-size: 1rem;
  color: #8492A6;
}

.section4-wrapper figure {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.section4-wrapper figure .section4-svg {
  height: 90% !important;
  width: 100%;
}

.section4 {
  position: relative;
  z-index: 2;
}

.section4-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 50px;
}

.section-4-card {
  padding: 30px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
          box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border: 1px solid #EFF2F7;
}

.section-4-card h3, .section-4-card p {
  text-align: left;
  width: 100%;
}

.section-4-card p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 0;
}

.section-4-card h3 {
  font-size: 1rem;
}

.section-4-card .icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.section-4-card .icon-title img {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem;
}

.section5-wrapper {
  position: relative;
  padding: 100px 0 300px 0;
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
}

.section5-wrapper h1, .section5-wrapper p {
  color: #fff;
}

.section5-wrapper h1 {
  font-weight: normal;
  font-size: 2.2rem;
}

.section5-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25rem;
  padding: 12px 28px;
  font-weight: bold;
}

.section5-wrapper a i {
  margin-right: 10px;
}

.section5-wrapper a:first-of-type {
  background-color: #273444;
  margin-right: 20px;
}

.section5-wrapper a:first-of-type p, .section5-wrapper a:first-of-type i {
  color: #fff !important;
}

.section5-wrapper a:last-of-type {
  background-color: #fff;
}

.section5-wrapper a:last-of-type p, .section5-wrapper a:last-of-type i {
  color: #000 !important;
}

.section-5-text {
  margin: 2rem auto;
  width: 65%;
}

.section-5-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section5-down-wrapper {
  position: absolute;
  width: 138px;
  height: 35px;
  top: -1px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  cursor: pointer;
}

.section5-down {
  width: 100%;
  height: 100%;
  position: relative;
}

.tongue {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section5-down-btn {
  position: absolute;
  top: 10px;
  left: 46%;
  -webkit-transform: translate(-45%, 0) rotate(180deg);
          transform: translate(-45%, 0) rotate(180deg);
  color: #000;
  -webkit-animation: downBTN 4s infinite ease-in-out;
          animation: downBTN 4s infinite ease-in-out;
}

@-webkit-keyframes downBTN {
  0% {
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(0, -5px) rotate(180deg);
            transform: translate(0, -5px) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg);
  }
}

@keyframes downBTN {
  0% {
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(0, -5px) rotate(180deg);
            transform: translate(0, -5px) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg);
  }
}

.section5-absolute-icon {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 50%;
  padding: 1.2rem;
  -webkit-box-shadow: 0 30px 40px 0 rgba(31, 45, 61, 0.1);
          box-shadow: 0 30px 40px 0 rgba(31, 45, 61, 0.1);
}

.section5-absolute-icon img {
  width: 100%;
  height: 100%;
}

.section5-absolute-icon:nth-of-type(1) {
  width: 130px;
  height: 130px;
  left: 5%;
  bottom: 30px;
  -webkit-animation: absoluteicon 4s infinite 0.3s ease-in-out;
          animation: absoluteicon 4s infinite 0.3s ease-in-out;
}

.section5-absolute-icon:nth-of-type(2) {
  width: 160px;
  height: 160px;
  left: 23%;
  bottom: -80px;
  -webkit-animation: absoluteicon 4s infinite 0.6s ease-in-out;
          animation: absoluteicon 4s infinite 0.6s ease-in-out;
}

.section5-absolute-icon:nth-of-type(3) {
  width: 80px;
  height: 80px;
  left: 40%;
  bottom: 80px;
  -webkit-animation: absoluteicon 2.7s infinite 0.1s ease-in-out;
          animation: absoluteicon 2.7s infinite 0.1s ease-in-out;
}

.section5-absolute-icon:nth-of-type(4) {
  width: 150px;
  height: 150px;
  left: 55%;
  bottom: -80px;
  -webkit-animation: absoluteicon 3s infinite ease-in-out;
          animation: absoluteicon 3s infinite ease-in-out;
}

.section5-absolute-icon:nth-of-type(5) {
  width: 110px;
  height: 110px;
  left: 70%;
  bottom: 100px;
  -webkit-animation: absoluteicon 2.5s infinite 0.5s ease-in-out;
          animation: absoluteicon 2.5s infinite 0.5s ease-in-out;
}

.section5-absolute-icon:nth-of-type(6) {
  width: 90px;
  height: 90px;
  left: 88%;
  bottom: 30px;
  -webkit-animation: absoluteicon 2s infinite ease-in-out;
          animation: absoluteicon 2s infinite ease-in-out;
}

@-webkit-keyframes absoluteicon {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes absoluteicon {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.section6-wrapper {
  background-color: #FAFBFE;
  padding: 150px 0 50px 0;
}

.section6-wrapper h1, .section6-wrapper h4 {
  color: #3C4858;
}

.section6-wrapper p, .section6-wrapper small {
  color: #8492A6;
}

.section6-wrapper p {
  width: 50%;
  margin: 2rem auto !important;
  font-size: 1rem;
}

.section6-wrapper h1 {
  font-size: calc(1.3rem + 0.6vw);
}

#carousel {
  width: 90%;
  margin: 50px auto 0 auto;
}

#carousel .owl-stage-outer {
  height: 330px;
  margin-bottom: 1.5rem;
}

.carousel-card {
  border-radius: 4px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.03) !important;
          box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.03) !important;
  border: 1px solid #EFF2F7;
}

.carousel-card .card-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-card p {
  width: 100%;
  line-height: 1.7rem;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 0.85rem;
}

.carousel-card img {
  border-radius: 50%;
  margin-right: 10px;
  width: 3rem !important;
  height: 3rem !important;
}

.carousel-card i {
  color: #ffcc00;
  font-size: 0.75rem;
}

.section7 {
  padding: 100px 0;
}

.section7 h1 {
  color: #3C4858;
}

.section7 p {
  color: #8492A6;
  font-size: 1rem;
  width: 70%;
  margin: 1.5rem auto;
}

.secion7-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.section7-grid-item {
  margin-top: 3rem;
}

.section7-grid-item i {
  font-size: 2.8rem;
  color: #6e00ff;
  margin-bottom: 2.5rem;
}

.section7-grid-item h3 {
  color: #3C4858;
}

.section7-grid-item p {
  font-size: 0.90rem;
  width: 100%;
  margin: 0.5rem 0;
}

.footer-wrapper {
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  color: #fff;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

footer {
  position: relative;
  z-index: 2;
}

.footer-wrapper::before {
  content: "";
  background: url("../images/Section images/footer-background.svg") no-repeat scroll center center/100% 100% border-box;
  right: calc(50% - 1000px);
  display: block;
  min-width: 2000px;
  height: 1000px;
  pointer-events: none;
  position: absolute;
  width: calc(100% + 10px);
  z-index: 1;
  top: 0;
}

.footer-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 4rem 0;
}

.footer-card {
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 1.5rem;
  border-radius: 4px;
}

.footer-card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer-card i {
  display: block;
  font-size: 3rem;
  margin-right: 2rem;
}

.footer-card p {
  line-height: 25px;
}

.footer-card:first-of-type {
  background: linear-gradient(50deg, #273444 0, #272b44 100%);
}

.footer-card:last-of-type {
  background-color: #6e00ff !important;
}

.footer-card:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
          box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}

.footer-menu-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}

.footer-about .footer-logo {
  display: block;
  width: 180px;
  height: 80px;
}

.footer-about .footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-about p {
  width: 400px;
  line-height: 1.7rem;
}

.footer-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer-menu ul {
  padding-right: 6rem;
}

.footer-menu ul li {
  margin: 0.5rem 0 !important;
}

.footer-menu ul li:first-of-type {
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.footer-menu ul li a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer-menu ul li a:hover {
  color: #fff;
}

.footer-copyright-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copyright-socials p {
  font-size: 0.8rem;
}

.footer-copyright-socials a {
  display: block;
  margin: 0 1rem;
}

.footer-copyright-socials a:last-of-type {
  margin-right: 0;
}

.footer-copyright-socials a i {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-size: 1rem;
}

.footer-copyright-socials a:hover i {
  color: #fff;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  position: relative;
}

.absolute-icons {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  z-index: 3;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 1rem;
  visibility: visible;
  opacity: 1;
}

.absolute-icons a {
  -webkit-transition: background-color 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  margin: 0.5rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fac65e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.absolute-icons a:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: #dbdbdb;
}

.absolute-icons a:hover:first-of-type {
  background-color: #d48e02;
}

.absolute-icons a:first-of-type {
  background-color: #FFAB00;
}

.absolute-icons a:first-of-type i {
  color: #fff;
}

.absolute-icons a i {
  color: #000;
  font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {
  .landing {
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  }
  .landing::before {
    display: none;
  }
  .section2-wrapper {
    background-color: #FAFBFE;
    padding: 100px 0;
  }
  .landing-high-bar {
    padding: 20px 7vmin;
  }
  .container {
    margin: 0 7vmin;
  }
  .menu-bar nav .menu .whats-new {
    display: none;
  }
  .landing-content-buttons a:last-of-type {
    display: none;
  }
  .landing-svg svg {
    top: -200px;
    right: -50px;
    width: 577px;
  }
  .section5-absolute-icon:nth-of-type(1) {
    display: none;
  }
  .section5-absolute-icon:nth-of-type(2) {
    width: 160px;
    height: 160px;
    left: 10%;
    bottom: -80px;
  }
  .section5-absolute-icon:nth-of-type(3) {
    width: 80px;
    height: 80px;
    left: 40%;
    bottom: 80px;
  }
  .section5-absolute-icon:nth-of-type(4) {
    width: 150px;
    height: 150px;
    left: 60%;
    bottom: -80px;
  }
  .section5-absolute-icon:nth-of-type(5) {
    width: 110px;
    height: 110px;
    left: 80%;
    bottom: 100px;
  }
  .section5-absolute-icon:nth-of-type(6) {
    display: none;
  }
  #carousel {
    width: 100%;
  }
  .footer-menu-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-about p {
    margin-bottom: 2rem;
    width: 100% !important;
  }
}

@media screen and (max-width: 950px) {
  .landing-high-bar {
    padding: 20px 7vmin;
  }
  .language-side .languages {
    margin-left: 0;
  }
  .language-side .languages span {
    display: block;
  }
  .language-side .languages .lang-text {
    display: none;
  }
  .language-side .website-name {
    display: none;
  }
  .section5-wrapper {
    padding-bottom: 70px;
  }
  .absolute-icon-wrapper {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section5-absolute-icon {
    position: static;
    width: 80px !important;
    height: 80px !important;
  }
  .section5-absolute-icon:nth-of-type(2) {
    display: none;
  }
  .section5-absolute-icon:nth-of-type(4) {
    margin: 0 30px;
  }
  .landing-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 180px 0 100px 0;
  }
  .landing-content-text {
    width: 100%;
    text-align: center;
  }
  .landing-content-text h1, .landing-content-text h3 {
    color: #fff;
    font-weight: normal;
  }
  .landing-content-text h1 {
    font-size: 2.6rem;
  }
  .landing-content-text h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .landing-content-text h3 span {
    font-size: 1.5rem;
    font-weight: 100;
  }
  .landing-content-text p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.7rem;
  }
  .landing-content-text .dark-mode {
    display: none;
  }
  .landing-content-text .landing-content-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 0;
  }
  .landing-content-text .landing-content-buttons a:first-of-type {
    margin: 0 auto;
  }
  .landing-content-text .landing-content-buttons a:last-of-type {
    display: none;
  }
  .landing-svg {
    display: none;
  }
  .menu-bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu-bar nav .logo-wrapper {
    position: relative;
    z-index: 100;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.5rem;
  }
  .menu-bar nav .logo-wrapper .burger-btn {
    display: block;
  }
  .menu-bar nav .logo {
    display: block;
    height: 60px;
    width: 130px;
    margin-right: 0;
  }
  .menu-bar nav .menu {
    -webkit-transition: margin-left, 0.3s ease-in-out, opacity, 0.3s ease-in-out;
    transition: margin-left, 0.3s ease-in-out, opacity, 0.3s ease-in-out;
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 50px;
    opacity: 0;
  }
  .menu-bar nav .menu .mobile-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0 !important;
  }
  .menu-bar nav .menu .whats-new, .menu-bar nav .menu .overview {
    display: block;
    padding: 10px 0 !important;
  }
  .menu-bar nav .menu li {
    width: 100%;
  }
  .menu-bar nav .menu li:not(.hover-disable):hover .sub-menu-wrapper {
    opacity: 1;
    display: block;
  }
  .menu-bar nav .menu li:nth-of-type(4) {
    margin-left: 0;
  }
  .menu-bar nav .menu .purchase-button {
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.85) !important;
    border-radius: 0;
    padding: 10px 0;
  }
  .menu-bar nav .menu .purchase-button:hover {
    color: #fff !important;
  }
  .menu-bar nav .menu .purchase-button i {
    display: none;
  }
  .menu-bar nav .menu .purchase-button .purchase-pop-up {
    display: none;
  }
  .sub-menu-wrapper {
    position: static;
    visibility: visible !important;
    display: none;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    margin-top: 0.5rem;
  }
  .sub-menu::before {
    display: none;
  }
  .sub-menu-li {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .sub-and-sub-sub:not(.hover-disable):hover .sub-menu-li {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sub-and-sub-sub:not(.hover-disable):hover .sub-sub-menu {
    display: block;
    opacity: 1;
  }
  .sub-sub-menu {
    width: 100%;
    display: none;
    position: static;
    visibility: visible;
    padding-left: 0;
  }
  .sub-sub-menu hr {
    width: auto;
    margin: 0 1.5rem;
  }
  .docs-arrow::after {
    display: none;
  }
  .section2-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .section2-text {
    width: 80%;
  }
  .flex-device {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex-device img {
    width: 100%;
  }
  .flex-device br {
    display: none;
  }
  .flex-device:first-of-type img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .flex-device:first-of-type .flex-device-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .flex-device .flex-device-content {
    width: 100%;
    margin: 40px 0;
  }
  .section4-wrapper {
    padding: 50px 0;
  }
  .section4-wrapper p {
    width: 80%;
  }
  .section4-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .secion7-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .absolute-icons a {
    display: none;
  }
  .absolute-icons a:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFAB00;
  }
  .absolute-icons a:first-of-type i {
    color: #fff;
  }
  .absolute-icons a i {
    color: #000;
    font-size: 1.3rem;
  }
  .section2-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section2-text {
    width: 100%;
  }
  .flex-device {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex-device p {
    margin: 2rem auto;
  }
  .flex-device img {
    width: 100%;
  }
  .flex-device br {
    display: none;
  }
  .flex-device:first-of-type img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .flex-device:first-of-type .flex-device-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .flex-device .flex-device-content {
    width: 100%;
    margin: 40px 0;
  }
  .flex-device .flex-device-content h1, .flex-device .flex-device-content p {
    text-align: center;
  }
  .flex-device .flex-device-content a {
    margin: 0 auto;
  }
  .flex-device .flex-device-benefit p {
    text-align: left;
  }
  .footer-menu-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .footer-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-about p {
    margin-bottom: 2rem;
    width: 100% !important;
  }
  .footer-menu ul {
    padding-right: 0;
  }
  .footer-copyright-socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer-copyright {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .landing-particles {
    display: none !important;
  }
  .landing-content {
    padding-top: 100px 0 50px 0;
  }
  .container {
    margin: 0 5vmin;
  }
  .sections-ul {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .section5-wrapper a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem 0 1rem 0 !important;
  }
  .section-5-text {
    width: 100%;
  }
  .section-5-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .absolute-icon-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 1.5rem;
  }
  .section5-absolute-icon:nth-of-type(4) {
    margin: 30px 0;
  }
  .section6-wrapper {
    padding: 100px 0 50px 0;
  }
  .section6-wrapper p {
    width: 80%;
  }
  .section7 p {
    width: 90%;
  }
  .secion7-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .footer-menu {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer-menu ul {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */